ul {
  display: inline-block;
  padding: 0;
  margin: 10px;
}

ul li {
  display: inline;
}

ul li a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  color: rgb(219, 219, 219);
  transition: background-color 0.3s;
  background-color: rgba(0, 0, 0, 0.431);
}

ul li a.active {
  background-color: #4caf50;
  color: white;
}

ul li a:hover:not(.active) {
  background-color: rgb(17, 56, 32);
}
